
/*IBM Plex Sans font: https://fonts.google.com/specimen/IBM+Plex+Sans*/
@font-face {
  font-family: "IBM Plex Sans";
  src: url("fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}


:root {
    --text-font: "IBM Plex Sans", sans-serif;
    --code-font: "Noto Mono";

    --blue-light: rgb(93, 137, 200);
    --blue-dark: rgb(63, 104, 166);

    --black-light: rgb(70, 70, 68);
    --black-dark: rgb(60, 60, 60);
    --black-darkest: rgb(39, 39, 37);

    --white-light: rgb(242, 240, 235);
    --white-dark: rgb(227, 225, 220);
    --white-darkest: rgb(212, 210, 205);
}